form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

input {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px;
    background-color: #6772e5;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:disabled {
    background-color: #bbb;
}

div {
    margin-top: 20px;
    font-size: 14px;
}
