.apiContainer {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

.map {
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
  }

/* Define styles for the events list container */
#eventsList {
    width: 500px; /* Set width to 500px */
    height: 500px; /* Set height to 500px */
    overflow: auto; /* Add scrolling when content exceeds container dimensions */
    border: 1px solid #ccc; /* Add a border for visual clarity */
    padding: 10px; /* Add some padding to the container */
  }
  
  /* Define styles for individual posts */
  .post {
    margin-bottom: 20px; /* Add some space between posts */
  }
  
  
  h3 {
    font-weight:900;
    text-shadow: 1px 1px whitesmoke black;
   }
