/* src/components/home/Home.css */
.eventList {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  
  .eventList::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  