/* src/components/footer/footer.css */
.footer {
    background-color: var(--light);
    color: white;
    height: 7vh; /* Ensure height is consistent with viewport */
    padding: 16px;
  }
  
  .footer .icon {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
  