/* src/components/home/eventList/eventlist.css */
.eventList {
  width: 100%;
  height: 100%; /* Ensure the event list takes up the full height */
}

.card {
  width: 100%;
  margin-bottom: 10px; /* Add margin-bottom */
}


/* Specific Chakra UI class overrides */
.chakra-card.card {
  background-color: var(--accent) !important; /* Ensure the background color is applied */
}

.cardBody {
  padding: 0 !important; /* Remove padding inside card body */
}

.cardImage {
  display: none; /* Hide the image if it's not needed */
}

.accordionPanel {
  display: none; /* Hide accordion content if it's not needed */
}

.priceText {
  color: #3182ce; /* Use color from your palette */
  font-size: 1.5rem;
}

.cardFooter {
  padding-top: 1rem;
}
