/* src/components/home/eventList/eventlist.css */

/* Style for the container */
.eventList {
  height: 100%;
  padding: 0; /* Ensure no padding is applied to the list */
}

/* Style for each event card */
.card {
  width: 100%;
}

.cardBody {
  padding: 0 !important; /* Remove padding inside card body */
}

.cardImage {
  border-radius: 0.5rem;
  width: 100%;
}

.accordionPanel {
  padding-bottom: 1rem;
}

.priceText {
  color: #3182ce; /* Use color from your palette */
  font-size: 1.5rem;
}

.cardFooter {
  padding-top: 1rem;
}

/* Style for the event list container */
.eventListContainer {
  height: 100%;
  overflow-y: auto;
  padding: 0; /* Remove padding from the container */
}

/* Hide scrollbar but allow scrolling */
.eventListContainer::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.eventListContainer {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
